#pycache
*__pycache__*

# distribution files
*.exe
!Batch_Renamer_self_extracting_installer.EXE
util/Batch_Renamer.SED
dist/*
build/*
*.zip

# testing files
test*
user_settings.json

#local settings and venv
.python-version
batch_renamer_prod/