QWidget:Focus{border-color: #b2cbd7}

QPushButton {
    background-color: #007680;
    border-color: #1d3a4d;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 2px
}
QPushButton:pressed{
    background-color: #05c691;
    border-color: #1d3a4d;
}

QLabel{ font-family: Arial;}

QLabel#signature{
    font-family: inherit;
    font-weight: bold;
}